html, body {
  height: 100%;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  background: var(--fundo-claro);
  color: var(--texto-escuro);
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  color: var(--lilas);
  text-align: center;
}

main, .gallery, #albums {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Grid de fotos - todas quadradas */
.gallery,
.album-photos {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 fotos por linha no PC */
  gap: 1rem;
  padding: 0.5rem;
  box-sizing: border-box;
}

.gallery img,
.album-photos img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
}

.gallery img:hover,
.album-photos img:hover {
  transform: scale(1.05);
}

/* Responsivo */
@media (max-width: 768px) {
  .gallery,
  .album-photos {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 480px) {
  .gallery,
  .album-photos {
    grid-template-columns: repeat(2, 1fr); 
  }
  header{
    font-size: 20px;
  }
  h1{
    font-size: 25px;
  }
}

/* Modal */
.modal {
  display: none;
}

/* Filtros */
.filters {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.filters input {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

/* Albuns */
.album {
  margin-bottom: 2rem;
}

